<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IMailNotifierService">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/mailnotifier/sign" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IMailNotifierService"
                contract="MailNotifierService.IMailNotifierService" name="NetNamedPipeBinding_IMailNotifierService" />
        </client>
    </system.serviceModel>
</configuration>